<p><%= notice %></p>


<% @posts.reverse.each do |post| %>
  <table class="main">
    <tr>
      <th><%= post.content %></th>
    </tr>
    <tr class="time">
      <td>
        <%= l post.created_at %>
        <%= link_to "編集", edit_post_path(post.id) %>
        <%= link_to '削除', post_path(post.id), method: :delete %>
      </td>
    </tr>
</table>
<% end %>

