<!DOCTYPE html>
<html>
  <head>
    <title>PracticeApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="body">
    <header class="header">
      <h2 class="app_name">つぶやきアプリ</h2>
      <ul class="new_menu clearfix">
        <li><a><%= link_to '▶つぶやきを投稿', new_post_path %></a></li>
      </ul>
    </header>
    <%= yield %>
    <footer class="footer">
      <p>chihiro-kakizaki</p>
    </footer>
  </body>
</html>
